<!-- Full name: Lai Minh Huy
   COMP 229 – Web Application Development
   Student ID: 301225382
   Date: 08/10/2023
   Created by Huy Lai. Copyright Fall 2023. All Rights reserved to Huy Lai
-->

<!--Bottom Nav-->

<footer class="fixed-footer">
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; COMP229 - Copyright Fall 2023. All Rights reserved to Huy Lai
                </div>
            </div>
        </div>
    </div>
</footer>

<!--Bottom Nav End-->