<!-- Full name: Lai Minh Huy
   COMP 229 – Web Application Development
   Student ID: 301225382
   Date: 08/10/2023
   Created by Huy Lai. Copyright Fall 2023. All Rights reserved to Huy Lai
-->

<!--Nav Footer begin-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/css/bootstrap.min.css"></script>
<script src="/Script/app.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

<!--Nav Footer end-->