<!-- Full name: Lai Minh Huy
   COMP 229 – Web Application Development
   Student ID: 301225382
   Date: 08/10/2023
   Created by Huy Lai. Copyright Fall 2023. All Rights reserved to Huy Lai
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--<img src="/images/logo.png" alt="logo">-->

  <!-- Project Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-5 mb-5">My Projects and Work in Progress</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="/images/project.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">Workshop Website</h4>
                        <div class="team-social d-flex">
                            In my role as the primary developer, I crafted a tailored website for a client operating in the workshop industry. Through close collaboration with the client, I conceptualized and built an attractive website that effectively presented their distinctive ceramic products and emphasized their range of workshop services. This website encompassed features such as an online gallery, a workshop schedule, and a contact form to facilitate inquiries.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-text">
                        <h4 class="mb-0">Bug Smasher</h4>
                        <div class="team-social d-flex">
                            Another project that I finished was in Javascript at Centennial College where I created a game that is possible to smash a littly bug.
                        </div>
                    </div>
                    <img class="img-fluid rounded" src="/images/project1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="/images/awesome.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">You are Awesome</h4>
                        <div class="team-social d-flex">
                            I'm currently involved in a project known as 'You are Awesome,' which aims to enable individuals to create an application for hiring professionals to address their home-related issues. Through this application, customers will have direct access to the professionals who can guide and assist them in resolving problems via video conferences.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="/contact" class="btn" style="position: absolute; margin-left: 100px;margin-top: 50px;" > Back page</a>
    <a href="/services" class="btn" style="position: absolute; margin-left: 400px;margin-top: 50px;" > Next page</a>
    <br>
    <br>
    <br>
    <br>

</div>

<!-- Project End -->

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



   